@model List<EntityLayer.Concrete.IslemlerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Müşteri Adı</th>
        <th>Toptanci Adı</th>
        <th>Adet</th>
        <th>Toplam Fiyat</th>
        <th>Tarih</th>
        <th>Satis</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.IslemlerId</th>
            <th>@item.UrunAdi</th>
            <td>@item.MusteriAdi</td>
            <td>@item.ToptanciAdi</td>
            <td>@item.Adet</td>
            <td>@string.Format("{0:C2}", item.ToplamFiyat)</td>
            <td>@item.Tarih</td>

            @if (item.SatisTipi == true)
            {
                <td>Satış</td>
            }
            @if (item.SatisTipi == false)
            {
                <td>Alış</td>
            }

        </tr>
    }
</table>

