@model List<EntityLayer.Concrete.MusteriUrunDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div>
    <p>@ViewBag.VisitorCount</p>
    <p>@ViewBag.Message</p>
    <p>@ViewData["userid"]</p>
    <a href="Cart/Index/?userid=@ViewBag.UserId"><i class="mdi mdi-cart-outline"></i></a>
</div>


<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok Miktarı</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Adi</td>
            <td>@string.Format("{0:C2}", item.Fiyat)</td>
            <td>@item.Stok</td>
            <td>
                <button class="btn btn-primary"
                        onclick="addToCart(@ViewBag.UserId, @item.Id, @item.Fiyat)">
                    Satın Al
                </button>
            </td>

        </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function addToCart(userid, productid, fiyat) {
        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            data: {
                userid: userid,
                productid: productid,
                fiyat: fiyat
            },
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                } else {
                    alert("Ürün sepete eklenirken bir hata oluştu.");
                }
            },
            error: function () {
                alert("Bir hata oluştu. Lütfen tekrar deneyin.");
            }
        });
    }
</script>

